<html>
  <head>
    <title></title>
  </head>
  <body style="background-color:#EAECED; ">
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css?family=Open+Sans");
    </style>
    <table
      align="center"
      bgcolor="#EAECED"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
    >
      <tbody>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr style="font-size:0;line-height:0">
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table width="600">
              <tbody>
                <tr>
                  <td align="center">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="570"
                    >
                      <tbody>
                        <tr>
                          <td width="570" style="text-align: center">
                            <a href="https://tradersplanet.us/" target="_blank">
                              <img
                                alt="TradersPlanet"
                                height="50"
                                
                                src="cid:logo@cid"
                                style="border:0"
                            /></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td align="center" valign="top">
                    <table
                      bgcolor="#FFFFFF"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="overflow:hidden!important;border-radius:3px"
                      width="580"
                    >
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <table width="85%">
                              <tbody>
                                <tr>
                                  <td align="center">
                                    <h2
                                      style="margin:0!important;font-family:'Open Sans',helvetica,arial,sans-serif!important;font-size:28px!important;line-height:38px!important;font-weight:200!important;color:#252b33!important"
                                    >
                                      Cliente contactado
                                    </h2>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="78%"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="left"
                                    style="font-family:'Open Sans',helvetica,arial,sans-serif!important;font-size:16px!important;line-height:30px!important;font-weight:100!important;color:#7e8890!important"
                                  >
                                    <p>
                                      A continuación los datos del cliente: 
                                    </p>
                                    <ul style="text-align: left">
                                      <li>
                                        Nombre:
                                        <strong><%= nombre %></strong>
                                      </li>
                                      <li>
                                        Email: <strong><%= email %></strong>
                                      </li>
                                      <li>
                                        Asunto: <strong><%= asunto %></strong>
                                      </li>
                                      <li>
                                        Mensaje: <strong><%= mensaje %></strong>
                                      </li>
                                      <!--                                                                     <li>Your earning: <strong>£350.00</strong></li> -->
                                    </ul>
                                    <p>Gracias.</p>
                                    <p><strong>tradersplanet.us</strong></p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
